{% extends 'base.html.twig' %}

{% block title %}Cigarette index{% endblock %}

{% block body %}
    <h1>Cigarette index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Price</th>
                <th>IsSmoked</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cigarette in cigarettes %}
            <tr>
                <td>{{ cigarette.id }}</td>
                <td>{{ cigarette.price }}</td>
                <td>{{ cigarette.isSmoked ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('cigarette_show', {'id': cigarette.id}) }}">show</a>
                    <a href="{{ path('cigarette_edit', {'id': cigarette.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cigarette_new') }}">Create new</a>
{% endblock %}
