{% extends 'base.html.twig' %}

{% block title %}Cigarettes{% endblock %}

{% block body %}
    <div class="container mt-5">
    <h1 class="textStop textCigarette">Cigarettes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prix</th>
                <th>Fumée</th>
                <th>Qui</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for cigarette in cigarettes %}
            <tr>
                <td>{{ cigarette.id }}</td>
                <td>{{ cigarette.price }}</td>
                <td>{{ cigarette.isSmoked ? '<i class="fas fa-circle text-danger"></i>' : '<i class="fas fa-circle text-success"></i>' }}</td>
                <td><a href="{{ path('user_show', { 'id' : cigarette.user.id } ) }}">{{ cigarette.user.firstname ~ ' ' ~ cigarette.user.lastname }}</a></td>
                <td>
                    <a href="{{ path('cigarette_edit', {'id': cigarette.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
