{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-5 text-center">
        <h3 class="textCigarette textStop mb-3"> Quelques petites stats pour t'encourager ! </h3>
        <iframe src="https://giphy.com/embed/g9582DNuQppxC" width="300" height="auto" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/hero0fwar-karmawhore-rhyming-g9582DNuQppxC"></a></p>

        <p>Tu as décidé d'arrêter de fumer depuis
            <span class="textStop textCigarette h4">{{ nbDaysQuiting }}</span>
            jours</p>
        <p>En temps normal, tu aurais fumé
            <span class="textStop textCigarette h4">{{ nbCigarettesHypothetic }}</span>
            cigarettes</p>
        <p>Tu as voulu fumer
            <span class="textStop textCigarette h4">{{ virtualSmokedCigarettes }}</span> cigarettes, mais tu t'es
            retenu, BRAVO !
        </p>
        <p>Tu en as réellement fumé
            <span class="textStop textCigarette h4">{{ smokedCigarettes }}</span>
        </p>

        <p>Tu as fais jusqu'à présent à peu près</p>
        <span class="textStop textCigarette h1">{{ economy }}  €</span>
        <p>
            d'économie
        </p>

    </div>
{% endblock %}