{{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.pictureName) }}
    {{ form_row(form.quitSmokingDate) }}
    {{ form_row(form.nbHypotheticCigarettePerDay) }}
    <button class="btn btn-stop mb-1">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
