{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="textCigarette textStop">Utilisateurs</h1>
        <a class="btn btn-stop mb-2" href="{{ path('user_new') }}">Créer nouveau</a>
        <table class="table table-responsive table-striped table-hover">
            <thead>
            <tr>
                <th>Email</th>
                <th>Roles</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Date d'arrêt</th>
                <th>Nombre cigarettes par jour</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.quitSmokingDate ? user.quitSmokingDate|date('Y-m-d') : '' }}</td>
                    <td>{{ user.NbCigarettePerDay }}</td>
                    <td>
                        <a href="{{ path('user_show', {'id': user.id}) }}">Voir</a>
                        <a href="{{ path('user_edit', {'id': user.id}) }}">Editer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">Aucune donnée trouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
